:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f9f9f9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.nfa-tab-container {
  padding: 20px;
}

.automaton-container {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  padding: 10px;
  box-sizing: border-box;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 65px;
  background-color: #f5f5f5;
  border-radius: 20px;
  margin-top: 20px;
  border: 1px solid #ccc;
}



.transition-table-container {
  width: 100%;
  box-sizing: border-box;
  overflow-x: auto;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-top: 20px;
}

h2 {
  color: #213547;
}

.dfatab-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.dfatab-automaton-container {
  flex: 1; 
  max-width: 50%;
  height: 60%;
  overflow-x: auto;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  background-color: #f5f5f5;
  border-radius: 20px;
  margin-top: 20px;
}

.dfatab-tables-container {
  flex: 1; 
  max-width: 50%; 
  overflow-y: auto;
  box-sizing: border-box;
  margin-top: 20px;
}

.table-container {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f5f5f5; 
  border: 1px solid #ccc;
  border-radius: 20px; 
}

.table-container2 {
  padding: 10px; 
  background-color: #f5f5f5; 
  border: 1px solid #ccc; 
  border-radius: 20px; 
}

.equal-container {
  background-color: #f5f5f5; 
  border: 1px solid #ccc; 
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  min-height: 100px;
  border-radius: 20px;
}

li {
  list-style-type: none;
  text-align: center;
  justify-content: center;
  margin: 5px 0;
}

ul {
  list-style-type: none;
  color: #405c89;
  text-align: center;
  padding: 0;
  margin-bottom: 12px;
}

.divSymbolsStyle {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 40px;
  color: #405c89;
  background-color: #f5f5f5;
  border-radius: 20px;
  font-size: 20px;
  border: 1px solid #ccc;
}


.headerStyle {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #405c89;
  padding: 20px;
  z-index: 1000;
  box-sizing: border-box;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-right: 0;
}

.containerStyle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.logoContainerStyle {
  flex: 1; /* Toma un tercio del espacio */
  display: flex;
  justify-content: flex-start;
}

.logoStyle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 2px solid white;
}

.inputContainerStyle {
  flex: 2; /* Toma la mitad del espacio */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-width: 600px;
  margin: 0 auto;
}

.inputWrapperStyle {
  display: flex;
  gap: 10px;
  width: 100%;
}

.inputStyle {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  flex: 1;
  box-sizing: border-box;
  background-color: #f9f9f9;
  color: black;
}

.noteContainer {
  flex: 1; /* Toma un tercio del espacio */
  display: flex;
  justify-content: flex-end; /* Alinear a la derecha */
  align-items: center; /* Centrar verticalmente */
  margin-left: 20px; /* Agregar margen a la izquierda para separarla del input */
}

.note {
  color: white; /* Cambiar color según diseño */
  font-size: 0.9rem; /* Ajustar tamaño del texto de la nota */
  white-space: normal; /* Permitir que el texto se repliegue */
  margin-left: 70px;
}




.buttonsContainerStyle {
  display: flex;
  justify-content: center;
  gap: 10px;
}




.buttonStyle {
  padding: 9px;
  border-radius: 5px;
  background-color: #405c89;
  color: white;
  cursor: pointer;
  border: 2px solid #f9f9f9;
  flex: 0.3;
  box-sizing: border-box;
}


.mainContentStyle {
  margin-top: 130px;
}

    